{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">Módulo Productos</h1>

<div class="card">
    <div class="card-body">

        <h5>Lista de productos</h5>

        <table class="table">
            <tr>
                <th>Producto</th>
                <th>Precio</th>
            </tr>

            <tr>
                <td>Laptop HP</td>
                <td>$700</td>
            </tr>

            <tr>
                <td>Mouse inalámbrico</td>
                <td>$25</td>
            </tr>

        </table>

    </div>
</div>

{% endblock %}